body, html {
    margin: 0;
    padding: 0;
    background-color: #152d45;
}

section {
    padding: 0;
    margin: 0;
}

header, h1, h2 {
    margin: 0;
    padding: 0;
}

.full-width-image {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}

nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 60%;
    margin: 25px 21vw;
    color: white;
    font-family: 'Markazi Text', serif;
    font-size: 2vw;
}

nav ul {
    list-style-type: none;
    padding: 0vw;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a:link {
    color: white;
    text-decoration: none;
}

nav ul li a:visited {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    color: #152d45;
    text-decoration: underline;
}

.Banner_orange {
    background-color: #e87224;
    padding: 0.05vw 0;
}

a.MainText:link {
    font-family: 'Markazi Text', serif;
    font-size: 2vw;
    color: #dbdddf;
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    text-decoration: underline;
}

a.MainText:visited {
    font-family: 'Markazi Text', serif;
    font-size: 2vw;
    color: #dbdddf;
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    text-decoration: underline;
}

a.MainText:hover {
    font-family: 'Markazi Text', serif;
    font-size: 2vw;
    color: #ffffff;
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    text-decoration: underline;
}

a.LaharReadyTitle:link {
    font-family: 'Markazi Text', serif;
    font-size: 3vw;
    color: #152d45;
    padding-top: -1vw;
    padding-left: 1vw;
    margin-top: -2vw;
    text-decoration: none;
}

a.LaharReadyTitle:visited {
    font-family: 'Markazi Text', serif;
    font-size: 3vw;
    color: #152d45;
    padding-top: -1vw;
    padding-left: 1vw;
    margin-top: -2vw;
    text-decoration: none;
}

a.LaharReadyTitle:hover {
    font-family: 'Markazi Text', serif;
    font-size: 3vw;
    color: #dbdddf;
    padding-top: -1vw;
    padding-left: 1vw;
    margin-top: -2vw;
    text-decoration: underline;
}

.HP_background {
  background-color: #152d45;
  margin-top:  -1vw;
}

.About_background {
    background-color: #152d45;
    margin-top:  -4vw;
  }

.Nest_rows_HP {
    display: flex; 
    margin-left: 10vw;
    margin-bottom: 5vw;
    width: 75vw;
}


.Nest_rows_HP_c1 {
    width: 20vw;;
    margin: 0;
}

.Nest_rows_HP_c2 {
    width: 60vw;
    padding-left: 2vw;
    margin: 0;
}

.Subtitle_table {
    font-family: 'Markazi Text', serif;
    font-size: 4vw;
    color: #dbdddf;
    padding-top: 3vw;
    margin: 0;
}

.Main_text_table {
    font-family: 'Markazi Text', serif;
    font-size: 2vw;
    color: #dbdddf;
    padding: 0;
    margin: 0;
}

.Active {
    font-family: 'Markazi Text', serif;
    font-size: 6vw;
    color: #dbdddf;
    /* padding-top: vw; */
    margin-top: -4vw;
    margin-bottom: -4vw;
    padding-left: 10vw;
    padding-bottom: 0vw;
}

.Risk {
    font-family: 'Markazi Text', serif;
    font-size: 3vw;
    color: #dbdddf;
    padding-top: -2vw;
    padding-left: 10vw;
}

.Subtitle_1 {
    font-family: 'Markazi Text', serif;
    font-size: 4vw;
    color: #dbdddf;
    padding-top: 3vw;
    padding-left: 10vw;
    padding-right: 10vw;
}

.Main_text_1 {
    font-family: 'Markazi Text', serif;
    font-size: 2vw;
    color: #dbdddf;
    padding-top: -2vw;
    padding-left: 10vw;
    padding-right: 10vw;
}

.LaharReady {
    font-family: 'Markazi Text', serif;
    font-size: 6vw;
    color: #dbdddf;
    margin-top: -5vw;
    margin-bottom: -3vw;
    padding-top: 0vw;
    padding-left: 30vw;
    padding-bottom: 0vw;
}

.GoogleMap {
    height: 70vh;
    width: 100%;
    /* margin-left: 20vw; */
}

.Buffer_blue {
    background-color: #152d45;
    /* margin:  -6vw; */
    padding-bottom: 10vw;
}

.Footer_blue {
    background-color: #152d45;
    margin-top:  -10vw;
    padding: 2vw;
    font-family: 'Markazi Text', serif;
    text-align: center;
}

.Footer_orange {
    background-color: #e87224;
    width: 100%;
    margin-top:  -10vw;
    padding-top: 1vw;
    padding-bottom: 1vw;
    font-family: 'Markazi Text', serif;
    text-align: center;
    margin-top: auto;
}
.Footer_orange_hold {
    background-color: #e87224;
    width: 100%;
    margin-top:  -10vw;
    padding-top: 1vw;
    padding-bottom: 1vw;
    font-family: 'Markazi Text', serif;
    text-align: center;
    margin-top: 50vh;
}